.alert-column {
  position: absolute;
  float: right;
  width: 20%;
  right: 10%;
  top: 80px;
}

.alert-close-button {
  width: 45px;
  height: 25px;
  line-height: 0px;
  display: block;
  padding: 0px;
  margin-top: 5px;
}
