.meaningList, .versionList {
    list-style-type: none;
    padding: 0;
}

.meaningList li {
    padding-left: 10px;
    margin-bottom: 20px;
    clear: both;
}

.meaningList .meaning {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.meaningList .meaning .title {
    font-style: italic;
}

.meaningList .comment {}

.meaningList .comment .title {
    font-style: italic;
}

.versionList li {
    padding-left: 10px;
    margin-bottom: 0px;
}

.remove-btn {
    background: url('images/remove2.gif') no-repeat center #ececec;
}
