.meaningList, .versionList {
    list-style-type: none;
    padding: 0;
}

.meaningList li {
    padding-left: 10px;
    margin-bottom: 20px;
    clear: both;
}

.meaningList .meaning {
    margin-right: 15px;
    margin-bottom: 20px;
    float: left;
}

.meaningList .meaning .title {
    font-style: italic;
}

.meaningList .comment {
  float: left;
  margin-right: 20px;
}

.meaningList .comment textarea {
    width: 220px;
}

.meaningList .comment .title {
    font-style: italic;
}

.meaningList .remove .remove-link {
  cursor: pointer;
  font-style: normal;
}

.meaningList .add-new-meaning {
  cursor: pointer;
}

.versionList li {
    padding-left: 10px;
    margin-bottom: 0px;
}

.remove-btn {
    background: url('images/remove2.gif') no-repeat center #ececec;
}

.cancel-link {
  cursor: pointer;
  margin-left: 15px;
}
