.nav {
  margin-top: 1.2em;
  height: $nav-height;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  padding: 1em;
  align-items: center;
  background-color: #37b893;
  z-index: 1;
}

.nav__wrapper {
  max-width: $max-width;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav__logo-wrapper {
  text-decoration: none;
}

.nav__logo {
  font-size: 1em;
  margin: 0;
  user-select: none;
  color: $text-color;
  text-decoration: none;
}

.btn--nav {
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn--nav + .btn--nav {
  margin-left: 1em;
}

.nav a, .nav .dropdown {
  cursor: pointer;
  margin-left: 10px;
}

.nav a {
  color: #fff;
}

.nav a:hover {
  color: #aff;
}

.nav a:active {
  color: #fff;
}

@media screen and (max-width: 400px) {
  .nav__wrapper {
    justify-content: none;
  }

  .nav__logo-wrapper {
    margin: 0 auto;
  }

  .btn--nav {
    display: none;
  }
}

.login-modal-content input {
  margin-bottom: 10px;
}
